#container{
    background-color: #ccc;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item{
    background-color: #333;
    color: #fff; 
    width: 40%;   
    margin: 5px;
    padding: 20px;
}